/* Style de base pour le corps de la page */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/* Style pour l'en-tête de la page */
header {
	background-color: #1abc9c;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

/* Style pour le titre de la page */
h1 {
	margin: 0;
	font-size: 28px;
}

/* Style pour l'étiquette de recherche */
label {
	display: none;
}

/* Style pour l'input de recherche */
input[type="text"] {
	padding: 5px 10px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	background-color: #f2f2f2;
	width: 200px;
}

h2 {
	text-align: center;
}

/* Style pour les paragraphes */
p {
	margin: 0 0 10px;
	font-size: 16px;
}

/* Le container des cards */
.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* Style pour les informations de l'utilisateur */
.user-info {
	max-width: 500px;
	margin: 20px auto;
	padding: 20px;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	border-radius: 5px;
}

/* Style pour les éléments d'information */
.user-info strong {
	font-weight: bold;
	margin-right: 10px;
}
